streamlit==1.32.0
#langchain==0.1.16
langchain-google-genai==0.0.6
langchain-community
#langgraph-prebuilt==0.2.3
google-generativeai==0.3.2
langchain==0.1.14
langgraph
Pillow
langchain-openai==0.3.32
openai==1.106.1
httpx==0.28.1
